<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
<div class="container">
  <h3 style="color: gray;">O que estão falando da Entrevista Descomplicada</h3>
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
