<style>
  @import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

.dot-number {
  font-family: 'Barriecito', cursive;
  color: black;
  font-size: 6vh;
  font-weight: bold;
  padding: 2vh;
  display:inline-block;
  margin-bottom: -1vh;
  margin-top: 1vh;
  height: 90px;
  width: 90px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background: #b8c1c8;
}

.dot-text {
  padding: 2vw;
  font-size: 2vh;
  max-width: 80vw;
  margin-top: -2vh;
  font-weight: 300;
  color: #b8c1c8;
  line-height: 1.7;
}

.icon-style {
  color: #b8c1c8;
  font-size: 6vh;
  margin-top: -2vh;
}

.background-curso {
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 3vh; z-index: 10; position:relative; color: gray;">
}

</style>





<!-- SEÇÃO INSCRIÇÃO-->
<div class="background-curso">
<div class="container">
<center>
  <h3 style="font-weight: 300; color: #b8c1c8; line-height: 1.2;">Não se esqueça</h3>

  <!-- DATA-->
  <div style="color: white;">
  <hr style="color:white; max-width: 400px; margin-bottom: 1vh;">
  </div>
  <!-- DATA END-->



<!-- SEÇÃO O QUE VAI APRENDER-->
<div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <br>
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="dot-number">1</h1> <br> <br>
            <p class="dot-text">Entre no nosso canal do <strong>Telegram</strong>, nele vamos distribuir o <strong>material exclusivo e 100% gratuito do workshop</strong>.</p>
            <a href="https://t.me/workshoprecolocacaoprofissional"><i class="fab fa-telegram icon-style" style="font-size: 6vh;"></i></a>
            <p></p>
          </div>
        </center>
        <!-- DATA-->
        <div style="color: white;">
          <hr style="color:white; max-width: 150px; margin-bottom: 1vh;">
        </div>
        <!-- DATA END-->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <br>
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="dot-number">2 </h1> <br/> <br>
            <p class="dot-text"><strong>Se inscreva</strong> no canal e <strong>ative as notificações</strong> do YouTube para ser alertado(a) no dia e hora do workshop.</p>
            <a href="https://www.youtube.com/channel/UCsAuZS9eplm4ykzSYwpHeDw" target="_blank"><i class="fab fa-youtube icon-style" style="font-size: 6vh;"></i></a>
          </div>
        </center>
        <!-- DATA-->
        <div style="color: white;">
          <hr style="color:white; max-width: 150px; margin-bottom: 1vh;">
        </div>
        <!-- DATA END-->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <br>
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="dot-number">3 </h1> <br/> <br>
            <p class="dot-text"><strong>Nos siga</strong> nas redes socias para acompanhar as <strong>novidades do projeto Entrevista Descomplicada.</strong></p>
            <div style="">
              <a href="https://www.linkedin.com/company/entrevista-descomplicada" target="_blank"><i class="fab fa-linkedin icon-style" style="font-size: 6vh;"></i></a> &nbsp; &nbsp; &nbsp;
              <a href="https://www.facebook.com/entrevistadescomplicada/"><i class="fab fa-facebook-square icon-style" style="font-size: 6vh;"></i></a> &nbsp; &nbsp; &nbsp;
              <a href="https://www.instagram.com/entrevistadescomplicadaoficial/" target="_blank"><i class="fab fa-instagram icon-style" style="font-size: 6vh;"></i></a> &nbsp; &nbsp; &nbsp;
              <a href="https://www.youtube.com/channel/UCsAuZS9eplm4ykzSYwpHeDw" target="_blank"><i class="fab fa-youtube icon-style" style="font-size: 6vh;"></i></a> &nbsp; &nbsp; &nbsp;
            </div>
          </div>
        </center>
        <!-- DATA-->
        <div style="color: white;">
          <hr style="color:white; max-width: 150px; margin-bottom: 1vh;">
        </div>
        <!-- DATA END-->
      </div>
    </div>
<!--FIM: SEÇÃO O QUE VAI APRENDER-->


<br>
</center>
</div>
</div>
<!-- FIM: SEÇÃO INSCRIÇÃO-->
