
<style>

   .max-size {
      max-height: 30vh;
   }

   .max-gif-size {

      object-fit: contain;

   }
</style>

<br>
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-7 col-md-7">
      <div>
        <h1 style="font-size: 4vh;">Currículo campeão e +15 dicas de como montar seu currículo</h1>
        <h2 style="font-size: 2vh;">Com esse modelo de currículo já fui chamado para mais de 50 entrevistas. Faça o download do modelo e reescreva com suas experiências para conseguir sua vaga também</h2>
        <p>Inteiramente <strong>grátis</strong>, você recebe tudo por email sem custo algum.</p>
        <br>
        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5">
      <br>
      <%= image_tag "testegif.gif", class: "img-responsive max-gif-size" %>
    </div>

  </div>

</div>

<br>
<br>
<br>



<div style="background-color: #F7F7F7; padding: 4vh;">

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-4">
      <%= image_tag "logo.png",class: "img-responsive center-block max-size" %>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8" style="align-items: left;">
      <br>
      <h2>SOBRE O ENTREVISTA DESCOMPLICADA</h2>
      <p>O projeto <strong>Entrevista Descomplicada</strong> nasceu da insatisfação com os processos de seleção das grandes empresas. Cada vez mais nós (candidatos) estamos mais preparados e ainda assim recebemos um NÃO em entrevistas sem nenhum tipo de explicação. Aqui o candidato vai receber <strong>informações em detalhe sobre como se preparar</strong> e conseguir a tão sonhada vaga de trabalho. </p>
    </div>

  </div>

</div>


<div style="background-color: black; padding: 4vh;">

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-4">
      <p>Ultimos  videos</p>
    </div>

  </div>

</div>
































