


<div class="container">
<div>
  <h1>My playground app</h1>
  <p>This is the important line everyone reads..</p>


  <style>
    .fullscreen {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height: 60vh;
      overflow: hidden;
    }

    .header-overlay {
      height: 60vh;
      width: 100vw;
      position: absolute;
      top: 40px;
      left: 0;
      background: #225470;
      z-index: 1;
      opacity: 0.5;

          display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    }

    .header-content {

      z-index: 10;
      position: absolute;
      top: 50px;


      margin: 0 !important;
    text-align: center;

    }

  </style>

  <div style="z-index: -190">
    <video src="" autoplay="true" loop="true"></video>
    <iframe class="fullscreen" width="560" height="315" src="https://www.youtube.com/embed/jEWbmoWNhSw?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="header-overlay"></div>


   <center>
    <div class="hearder-content">
      <h1 style="color: white; z-index: 2; opacity: 100%;">Hello</h1>
      <p style="color: white; z-index: 2; opacity: 100%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio corporis quidem, veniam tenetur molestiae.</p>
      <a href="" class="btn" style="color: white; z-index: 2; opacity: 100%; background-color: red;">read more</a>
    </div>
    </center>






</div>
<br>
<br>
<br>


  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div>
        <img src="images/briefcase.png" alt="picture description" width="100">
        <h2>Fast</h2>
        <p>A fast app, <strong>very fast</strong> app</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div>
        <img src="images/diamond.png" alt="picture description" width="100">
        <h2>Simple</h2>
        <p>A simple app, <strong>very simple</strong> app</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div>
        <img src="images/heart.png" alt="picture description" width="100">
        <h2>Awesome</h2>
        <p>An awesome app, <strong>very awesome</strong> app</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div>
        <img src="images/laptop.png" alt="picture description" width="100">
        <h2>Beautiful</h2>
        <p>A beautiful app, <strong>very beautiful</strong> app</p>
      </div>
    </div>

      <div>
        <p>This is a playground landing ©Le Wagon</p>
      </div>


  </div>
</div>
