



<style>
/* Play with this value */

.videoContainer {
  background: blue;
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow: hidden;
  margin-top: -20px;
}

#videoTrailer {
  min-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

</style>




<div class="videoContainer">

  <video id="videoTrailer" style="object-fit: cover; opacity: 0.4;" autoplay muted loop>
    <source src="/assets/footage1.mp4" type="video/mp4">
  </video>

  <div style="position: relative; margin-top: -50vh;">
    <h1 style="color: white;">ENTREVISTA DESCOMPLICADA</h1>
    <p style="color: white; font-size: 2.5vh;">Aprenda os segredos dos processos seletivos e conquiste a vaga dos seus sonhos</p>
    <div style="display: flex; align-items: center; justify-content: center;">
      <a href="" class="btn" style="color: white; background-color: blue; margin: 20px">Inscreva-se</a>
      <a href="" class="btn" style="color: white; background-color: blue; margin: 20px">Saiba mais</a>
    </div>
      <br>
      <a href="" style="color: white; margin: 20px"><i class="far fa-play-circle" style="font-size: 6vh;"></i></a>
  </div>
</div>

<br>



<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-3">
      <center>
        <div style="margin-bottom: 4vh;">
          <i class="far fa-play-circle" style="font-size: 6vh;"></i>
          <h2 style="margin-top: 1vh;">Fast</h2>
          <p>A fast app, <strong>very fast</strong> app Lorem ipsum dolor sit amet, consectetur adipisicing elit.  laborum, est.</p>
        </div>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <center>
        <div style="margin-bottom: 4vh;">
          <i class="far fa-play-circle" style="font-size: 6vh;"></i>
          <h2 style="margin-top: 1vh;">Simple</h2>
          <p>A simple app, <strong>very simple</strong> app Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos illo unde tempore nemo at e culpa, necessitatibus.</p>
        </div>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <center>
        <div style="margin-bottom: 4vh;">
          <i class="far fa-play-circle" style="font-size: 6vh;"></i>
          <h2 style="margin-top: 1vh;">Awesome</h2>
          <p>An awesome app, <strong>very awesome</strong> app Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptate, autem iste dolorem! .</p>
        </div>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <center>
        <div style="margin-bottom: 4vh;">
          <i class="far fa-play-circle" style="font-size: 6vh;"></i>
          <h2 style="margin-top: 1vh;">Beautiful</h2>
          <p>A beautiful app, <strong>very beautiful</strong> app Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur placeat, ad mole!</p>
        </div>
      </center>
    </div>

  </div>
</div>

