
  <style>
    .fullscreen {
      position: absolute;
      align-items: right;
      top: 0;
      width: 100%;
      max-width: 1100px;
      height: 70vh;

    }

    .header-overlay {
      height: 70vh;
      width: 100%;
      max-width: 1100px;
      position: relative;
      top: -17px;
      background: #225470;
      z-index: 2;
      opacity: 0.7;
    }

    .header-content {
      z-index: 10;
      position: absolute;
      top: -50vh;
      margin: 0 !important;
      text-align: center;
    }

    .navbar-brand {
      width: 35px;
    }
  </style>


<center>
  <div style="z-index: -10; position: relative; align-items: left">

      <iframe style="z-index: -10; top: -17px; position: absolute; width: 100%; height: 70vh; max-width: 1100px;"  width="560" height="315" src="https://www.youtube.com/embed/jEWbmoWNhSw?controls=0" align="right" frameborder="0" allow="autoplay;" allowfullscreen></iframe>

  </div>

  <div class="header-overlay"></div>
</center>


<div class="hearder-content" style="z-index: 10; position: relative; top: -55vh;">
  <center>
    <h1 style="color: white; z-index: 10;">ENTREVISTA DESCOMPLICADA</h1>
    <p style="color: white; z-index: 10; font-size: 2.5vh;">Aprenda os segredos dos processos seletivos e conquiste a vaga dos seus sonhos</p>
    <div style="display: flex; align-items: center; justify-content: center;">
      <a href="" class="btn" style="color: white; z-index: 2; opacity: 100%; background-color: blue; margin: 20px">Inscreva-se</a>
      <a href="" class="btn" style="color: white; z-index: 2; opacity: 100%; background-color: blue; margin: 20px">Saiba mais</a>
    </div>
    <a href="" class="btn" style="color: white; z-index: 2; opacity: 100%; background-color: blue; margin: 20px">PLAY</a>
  </center>
</div>



<div class="container" style="position: relative; top: -35vh;">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-3">
      <center>
        <div style="top: -200vh;">
          <h2>Fast</h2>
          <p>A fast app, <strong>very fast</strong> app Lorem ipsum dolor sit amet, consectetur adipisicing elit.  laborum, est.</p>
        </div>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <center>
        <div>
          <h2>Simple</h2>
          <p>A simple app, <strong>very simple</strong> app Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos illo unde tempore nemo at e culpa, necessitatibus.</p>
        </div>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <center>
        <div>
          <h2>Awesome</h2>
          <p>An awesome app, <strong>very awesome</strong> app Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptate, autem iste dolorem! .</p>
        </div>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <center>
        <div>
          <h2>Beautiful</h2>
          <p>A beautiful app, <strong>very beautiful</strong> app Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur placeat, ad mole!</p>
        </div>
      </center>
    </div>

  </div>
</div>
