



<style>
/* Play with this value */
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

.title-text {
  font-family: 'Barriecito', cursive;
  color: white;
  font-size: 8vh;
  background: #F0386B;
  padding: 2vh;
  border-radius: 3px;
  display:inline-block;
  margin-bottom: -1vh;
  margin-top: 5vh;
}

.banner {
background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 100%;
text-align: center;

margin-top: 0px;
}

</style>


<div style="background-color: #2EEEE2;">


<div class="banner">

  <div>
    <h1 class="title-text">LIVE </h1> <br/>
    <h2 style="font-size: 4vh; color: white;">OBRIGADO</h2>
    <p class="" style="font-size: 2.5vh; padding: 0.5vh; margin-right: 1vh; margin-left: 1vh;  color: white;">Confirme sua inscrição no email enviado.</p>
  </div>



  <!-- DATA-->
  <div style="color: white;">
  <hr style="color:white; max-width: 400px;">
  <i class="fas fa-calendar-alt" style="font-size: 2.5vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">04 de Março </p></i> &nbsp; &nbsp; &nbsp;
  <i class="fas fa-clock" style="font-size: 2.5vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">20h00 </p></i> &nbsp; &nbsp; &nbsp;
  <i class="fas fa-laptop-code" style="font-size: 2.5vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">100% online</p></i>
  </div>
  <br>

  <!-- DATA END-->


</div>




  <br>


  <div style="background-color: white;  border-radius: 3px; margin-top: -3vh;">

    <br>
    <br>

    <center>
      <div style="font-weight: bold;">
        <p style="font-size: 5vh; color: black;">Não esqueça:</p>
      </div>
    </center>

    <div class="row"">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="title-text" style="background: black;">1 </h1> <br/>
            <p style="padding: 2vw; font-size: 2.5vh;">Entre no grupo do Telegram da turma, todo o material da aula será compartilhado atrávez do grupo. Caso ainda não tenha o aplicativo baixe aqui:</p>
          </div>
        </center>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="title-text" style="background: black;">2 </h1> <br/>
            <p style="padding: 2vw; font-size: 2.5vh;">Ative as notificações para ser alertado(a) no dia e hora da aula.</p>
          </div>
        </center>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="title-text" style="background: black;">3 </h1> <br/>
            <p style="padding: 2vw; font-size: 2.5vh;">Nos siga nas redes socias para acompanhas as novidades das aulas.</p>
          </div>
        </center>
      </div>
    </div>
  <br>
  <br>
  </div>

<br>

<!-- teste-->
  <br>
  <div class="container" style="background-color: white;  border-radius: 3px; max-width: 90vw;">

    <br>
    <br>
    <center>
      <div style="font-weight: bold;">
        <p style="font-size: 5vh;">Conhecendo o projeto:</p>
      </div>
    </center>
    <br>
    <br>
    <div class="row"">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <center>
          <div style="margin: 2vh;">
            <%= image_tag "logo.png", height: 250, alt: "entrevista descomplicada" %>
          </div>
        </center>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <center>
          <div>
            <p style="font-size: 3vh; margin: 2vh;">O projeto Entrevista Descomplicada nasceu da insatisfação com os processos de seleção das grandes empresas. Cada vez mais nós (candidatos) estamos mais preparados e ainda assim recebemos um NÃO em entrevistas sem nenhum tipo de explicação. Aqui o candidato vai receber informações em detalhe sobre como se preparar e conseguir a tão sonhada vaga de trabalho.</p>
          </div>
        </center>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
  </div>
  <br>

<!-- teste END-->



<br>
</div>


































