



<style>
/* Play with this value */
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

.videoContainer {
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: 80vh;

  overflow: hidden;
  margin-top: 0px;
}

#videoTrailer {
  min-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.title-text {
  color: white;
  font-size: 6.5vh;
  padding: 0.5vh;
  border-radius: 3px;
  display:inline-block;
  padding-left: 1.5vh;
  padding-right: 1.5vh;

}

.btn-text {
  color: white;
  background-color: #F0386B;
  margin: 20px;
  font-size: 2.5vh;

}

.zoom:hover {
  transform: scale(1.02);
}

.link-style-obrigado {

  color: black;
  font-size: 5vh;
  padding: 2vh;
  margin-top: 0vh;
}

.img-size-logo {
  max-height: 200px;
}

</style>


<div class="videoContainer">
  <img id="videoTrailer" style="object-fit: cover; opacity: 0.1;" src="/assets/business.jpeg" alt="sobre/about">
  <div style="position: relative; margin-top: -75vh;">
    <div class="container">
    <center>
    <%= image_tag "logofim.png", class: 'img-responsive center-block fit-image img-size-logo' , alt: "Entrevista Descomplicada" %>
    <h1 class="title-text">Muito Obrigado</h1>
    <p class="" style="font-size: 2.5vh; margin-left: 0.2vh; margin-right: 0.2vh; color: white;">Agora você faz parte de uma comunidade que cresce dia após dia. Toda semana vamos te enviar dicas de como fazer entrevista e ser aprovado(a) no processo seletivo para a vaga dos seus sonhos</p>
    <p class="" style="font-size: 2vh; margin-left: 0.2vh; margin-right: 0.2vh; color: white;">Grande abraço <br> Zé Ricardo | Co-fundador da Entrevista Descomplicada </p>
    </center>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>

<br>



<div style="background-color: #F7F7F7; padding: 2vh; margin-top: -20px;">
  <div class="container" style="z-index: 1;">
    <center>
      <br>
      <br>
      <p style="font-size: 4vh;">Conhece alguém que também gostaria de receber dicas de entrevista de emprego? Fique à vontade para compartilhar a página!</p>
    <div>
      <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter link-style-obrigado hide"></i></a>
      <a href="https://www.facebook.com/entrevistadescomplicada/"><i class="fab fa-facebook-square link-style-obrigado"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram link-style-obrigado"></i></a>
      <a href="https://www.youtube.com/channel/UCsAuZS9eplm4ykzSYwpHeDw" target="_blank"><i class="fab fa-youtube link-style-obrigado"></i></a>
    </div>
    </center>
    <br>
    <br>
  </div>

</div>




<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
<br>
<div class="container">
  <h3 style="color: gray;">O que estão falando da Entrevista Descomplicada</h3>
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- CARROUSEL COM DEPOIMENTOS ***************** -->


<!-- QUEM SOMOS NOS ***************** -->
<div style="
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 3vh; z-index: 10; position:relative; color: gray;">

  <div class="container" style="color: white;">
  <h2>Quem somos nós:</h2>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <center>
        <div style="margin-bottom: 3vh;">
          <%= image_tag "logofim.png", class: 'img-responsive center-block fit-image', alt: "Entrevista Descomplicada" %> <br>
        </div>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div style="margin: 1vh;">
          <p style="font-size: 2.5vh;">O projeto <strong>Entrevista Descomplicada</strong> nasceu da insatisfação com os processos de seleção das grandes empresas. Cada vez mais nós (candidatos) estamos mais preparados e ainda assim recebemos um NÃO em entrevistas sem nenhum tipo de explicação. Aqui o candidato vai receber <strong>informações em detalhe sobre como se preparar</strong> e conseguir a tão sonhada vaga de trabalho.</p>
          <br>
          <center><a href="" class="btn btn-text" style="margin-top: -0.3vh;">Saiba mais</a></center>
        </div>
    </div>
  </div>
  </div>
</div>
<!-- QUEM SOMOS NOS ***************** -->

</div>































