



<style>
/* Play with this value */
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

.videoContainer {

  background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: 80vh;
  text-align: center;
  overflow: hidden;
  margin-top: 0px;
}

#videoTrailer {
  min-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.title-text {
  font-family: 'Barriecito', cursive;
  color: white;
  font-size: 6.5vh;
  background: #F0386B;
  padding: 0.5vh;
  border-radius: 3px;
  display:inline-block;
  padding-left: 1.5vh;
  padding-right: 1.5vh;

}

.btn-text {
  color: white;
  background-color: #F0386B;
  margin: 20px;
  font-size: 2.5vh;
  font-family: 'Barriecito', cursive;
}

.zoom:hover {
  transform: scale(1.02);
}

</style>


<div class="videoContainer">


  <img id="videoTrailer" style="object-fit: cover; opacity: 0.1;" src="/assets/business.jpeg" alt="sobre/about">

  <div style="position: relative; margin-top: -70vh;">
    <div class="container">
    <h1 class="title-text">ENTREVISTA DESCOMPLICADA</h1>
    <p class="" style="font-size: 2.5vh; margin-left: 0.2vh; margin-right: 0.2vh; color: white;">O projeto Entrevista Descomplicada nasceu da insatisfação com os processos de seleção das grandes empresas. Cada vez mais nós (candidatos) estamos mais preparados e ainda assim recebemos um NÃO em entrevistas sem nenhum tipo de explicação. Aqui o candidato vai receber informações em detalhe sobre como se preparar e conseguir a tão sonhada vaga de trabalho.</p>
    </div>
    <br>
    <br>
    <br>
    <div style="display: flex; align-items: center; justify-content: center;">
      <div style="margin-bottom: 3vh; color: white; max-width: 200px;">
          <i class="fas fa-piggy-bank" style="font-size: 7vh;"></i>
          <h2 style="margin-top: 1vh; font-size: 5vh;">Grátis</h2>
          <p>Inteiramente <strong>grátis</strong>, você recebe tudo por email.</p>
      </div>

      <div style="margin-bottom: 3vh; color: white; max-width: 200px;">
          <i class="fas fa-vial" style="font-size: 7vh;"></i>
          <h2 style="margin-top: 1vh; font-size: 5vh;">Simples</h2>
          <p><strong>Uma dica</strong> por semana no seu email.</p>
        </div>

      <div style="margin-bottom: 3vh; color: white; max-width: 200px;">
          <i class="fas fa-tachometer-alt" style="font-size: 7vh;"></i>
          <h2 style="margin-top: 1vh; font-size: 5vh;">Rápido</h2>
          <p>Dicas<strong> rápidas</strong> pra você se dar bem na próxima entrevista.</p>
      </div>
    </div>







  </div>
</div>

<br>



<div style="background-color: #F7F7F7; padding: 2vh; margin-top: -20px;">
  <div class="container" style="z-index: 1;">
  <br>

  <center>
    <p style="font-size: 4vh;">Venha também fazer parte dessa comunidade que cresce dia após dia:</p>

    <!-- Begin Mailchimp Signup Form -->
<center>
    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{font:14px Helvetica,Arial,sans-serif; width:90%; max-width:600px; opacity: 100%;}
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>

    <div id="mc_embed_signup" style="background-color: transparent;">

      <form action="https://gmail.us3.list-manage.com/subscribe/post?u=a0af30e40c118dd4db6006b86&amp;id=8133a06308" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <center>
        <div id="mc_embed_signup_scroll">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a0af30e40c118dd4db6006b86_8133a06308" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Inscreva-se" name="subscribe" id="mc-embedded-subscribe" class="button btn-danger" style="background-color: #F0386B;"></div>
        </div>
      </center>
      </form>
    </div>

<p style="margin-top: -10px; color: black; font-size: 2vh;">Receba dicas de entrevista toda semana por email</p>
</center>
<!-- END Mailchimp Signup Form -->
  </center>

  </div>

<br>
<br>
</div>

</div>































